<h1>All Tracks</h1>

<%= datagrid_form_for @tracks_grid, url: tracks_path %>
<%= paginate @assets %>
<%= datagrid_table @tracks_grid, @assets %>
<%= paginate @assets %>

<%= link_to 'New Track', new_track_path %>
